<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="A118.DomainModel" version="16.10.0" targetFramework="net461" />
  <package id="A118.EFDataSource" version="1.16.8" targetFramework="net461" />
  <package id="A119.Logger" version="1.16.4" targetFramework="net461" />
  <package id="E012.DomainModel" version="21.6.30" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.ru" version="6.1.3" targetFramework="net452" />
</packages>