<?xml version="1.0" encoding="utf-8"?>


<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}\NLogLogs\internal_log_file.txt"
  >
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <targets>
  
    <!-- Сбор лога в отдельный файлы trace.cvs, debud.cvs, info.cvs, warn.cvs, error.cvs -->

    <target name="cvsLogTrace" xsi:type="File" fileName="${logDirectory}/trace.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <!--  <column name="userinfo" layout="${gdc:userinfo}" />-->
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target name="cvsLogDebug" xsi:type="File" fileName="${logDirectory}/debug.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <!--  <column name="userinfo" layout="${gdc:userinfo}" />-->
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target name="cvsLogInfo" xsi:type="File" fileName="${logDirectory}/info.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <!-- <column name="userinfo" layout="${gdc:userinfo}" />-->
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target name="cvsLogWarn" xsi:type="File" fileName="${logDirectory}/warn.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <!--   <column name="userinfo" layout="${gdc:userinfo}" />-->
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target name="cvsLogError" xsi:type="File" fileName="${logDirectory}/error.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <!--  <column name="userinfo" layout="${gdc:userinfo}" />-->
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <!-- Отправка лога в Log2Console -->  
    <!--  <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://457atp02:4505" />-->
    
   
    <!-- Сбор лога в один файл [год-месяц-день-час]_log.cvs -->

    <target name="cvsAllInFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd-hh}_log.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <!--  <column name="userinfo" layout="${gdc:userinfo}" />-->
        <column name="message" layout="${message}" />
      </layout>
    </target>
    
    <!--Отправка логов на почту-->
    <target name="gmail" xsi:type="Mail"
            html="false"
            addNewLines="true"
            encoding="UTF-8"
            
            smtpServer="mail.dsirz.ru"                      
            smtpPort ="25"
            
            subject="Ошибка в системе Web СКАТ. Сервер: ${machinename}"
            header="ошибка ${longdate} ${newline} ${newline}"
            body="${level}: ${message} ${newline} ${newline}Сервер: ${machinename} "
            
            from="WebSKAT@dsirz.ru"            
            to="457sapr2@dsirz.ru;457atp15@dsirz.ru"
            />
    
  <!--отправка логов в таблицу БД-->
 <target name="database" xsi:type="Database"
          connectionString="data source=dbprov;initial catalog=SKAT;user id=client_skat;password=nt[yjcrfn" >
    <commandText>
      INSERT INTO [SKAT].[dbo].[e012t116_WebSkatLogs]
           ([LogDateTime]
           ,[LogLevel]
           ,[LogMessage]           
           ,[UserLogin]
           ,[UserFIO]
           ,[ControllerName]
           ,[Task]
           ,[MachineName]          
           )
     VALUES
           (@LogDateTime
           ,@LogLevel
           ,@LogMessage          
           ,@UserLogin
           ,@UserFIO
           ,@ControllerName
           ,@Task
           ,@MachineName           
          )
    </commandText>
    <parameter name="@LogDateTime" layout="${longdate}"/>
    <parameter name="@LogLevel" layout="${level}"/>
    <parameter name="@LogMessage" layout="${message}"/>   
    <parameter name="@UserLogin" layout="${gdc:userlogin}"/>
    <parameter name="@UserFIO" layout="${gdc:userfio}"/>
    <parameter name="@ControllerName" layout="${gdc:controllername}"/>
    <parameter name="@Task" layout="${gdc:task}"/>
    <parameter name="@MachineName" layout="${machinename}"/>    
  </target>  
  
 
  </targets>

  <rules>
  <!--  <logger name="*" level="Trace" writeTo="cvsLogTrace" />
    <logger name="*" level="Debug" writeTo="cvsLogDebug" />
    <logger name="*" level="Info" writeTo="cvsLogInfo" />
    <logger name="*" level="Warn" writeTo="cvsLogWarn" />
    <logger name="*" minlevel="Error" writeTo="cvsLogError" />
    <logger name="*" minlevel="Trace" writeTo="TcpOutlet" />-->
    <logger name="*" minlevel="Error" writeTo="gmail" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>